body {
    background-color: #f8f8f8;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  .main-logo {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid white;
    max-height: 190px;

  }

  .comment:nth-child(odd) {
      background: #ddd;
  }

  .primary-logo {
    position: fixed;
    top: 0px;
    width: 16.5%;
    max-width: 250px;
    min-width: 16.5%;
    max-height: 190px;
  }


  .form-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 0px;
    border-right: 1px solid #eee;
    background-color: #f8f8f8;
    min-width: 150px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @media only screen and (max-width: 1000px) {

    .form-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 150px;
      margin-left: 0px;
      border-right: 1px solid #eee;
      background-color: #f8f8f8;
      min-width: 150px;
      overflow: scroll;
    }

  }

  @media only screen and (max-width: 600px) {
    .form-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 150px;
      margin-left: 0px;
      border-right: 1px solid #eee;
      background-color: #f8f8f8;
      min-width: 150px;
      overflow: scroll;
    }

    .content-wrapper {
      margin-left: auto;
      margin-right: 10px;
      position: fixed;
      left: 300px;
      width: 300px;
      padding-bottom: 150px;
      height: 110vh;
      overflow: scroll;
    }

  }

  .content-wrapper {
    margin-left: auto;
    margin-right: 10px;
    padding-bottom: 150px;
    height: 110vh;
    overflow-x: auto;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }


  .collection-management {
    padding: 10px;
  }

  .card {
    margin-bottom: 10px;
  }

  .tray-table {
    margin-top: 50px;
  }

  .form-wrapper form{
    margin-top: 50px;
  }

  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar .nav {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }

  .sidebar .nav-link {
    border-radius: 0;
    color: white;
  }

  .process-data {
    margin-top: 20px;
  }

  .displayContent {
    padding: 30px;
  }

  .collection-form input {
      margin-left: 10px;
      width: 190px;
  }

  .collection-form button {
    margin-left: 10px;
    margin-top: 10px;
  }

  .primary-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: auto;
    width: 100%;
  }

  .sub-menu {
    padding-left: 15px;
  }

  .batch {
    margin-left: 10px;
  }

  .requires-truck {
    color: red;
  }

  .no-truck {
    color: blue;
  }

  .option-button {
    margin-right: 10px;
    padding: 10px;
  }

  .slips-button {
    margin-top: 20px;
  }

  .slips-display {
    page-break-before: always;
    margin-top: 50px;
  }

  .icon {
      padding-right: 10px;
  }

  .more {
      padding-left: 10px;
  }

  .sub {
      margin-left: 20px;
  }

  .expand {
      font-size: 1.4em;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link {
    font-weight: 500;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link:hover{
    color: #007bff;
  }

  .dropdownList {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }

  @media print {

    body {
      margin: 0;
      padding: 0;
      color: #000;
      background-color: #fff;
    }

    .main-paging-options, .title, .timestamp{
      display: none;
    }

    .main-paging-display {
      padding: 0;
      margin: 0;
    }

    table, pre { page-break-inside:avoid }

    .-filters {
      display: none;
    }
  }
